<!-- ignore jinja syntax-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>Admin Panel</h2>
<body style="background:#f3f4f6;">
{% for booking in bookings %}

<div
style="
border:1px solid #ccc;
padding:15px;
margin:15px;
">

<b>Name:</b>
{{booking['name']}}

<br>

<b>Phone:</b>
{{booking['phone']}}

<br>

<b>Service:</b>
{{booking['option']}}

<br>

<b>Date:</b>
{{booking['date']}}

<br>

<b>Time:</b>
{{booking['time']}}

<br>

<b>Status:</b>
{{booking['status']}}

<br>

<b>Assigned To:</b>

{{booking['assigned_to']}}

<br><br>


<form
action="/update/{{booking['id']}}"
method="POST">

<input

type="text"

name="worker"

value="{{booking['assigned_to']}}"

placeholder="Worker name"


style="
padding:8px;
margin-top:8px;
">


<select
name="status"

style="
padding:8px;
">

<option
value="Pending"

{% if booking['status']=="Pending" %}
selected
{% endif %}
>

Pending

</option>


<option
value="Assigned"

{% if booking['status']=="Assigned" %}
selected
{% endif %}
>

Assigned

</option>


<option
value="Completed"

{% if booking['status']=="Completed" %}
selected
{% endif %}
>

Completed

</option>

</select>


<button
type="submit">

Update

</button>

</form>



<br>

<b>Assigned To:</b>

{{booking['assigned_to']}}

<br>

<b>Status:</b>

{{booking['status']}}


<a
href="/delete/{{booking['id']}}">

Delete

</a>


<br><br>


<a
href="/add-points/{{booking['phone']}}"

style="
background:green;
padding:10px;
color:white;
text-decoration:none;
">

+100 Points

</a>

<br><br>

<a

href="/remove-points/{{booking['phone']}}"

style="
background:red;
padding:10px;
color:white;
text-decoration:none;
">

-100 Points

</a>
</div>

{% endfor %}