<!DOCTYPE html>
<html>

<head>

<meta
name="viewport"
content="width=device-width, initial-scale=1">

<style>

body{

font-family:Arial;

background:#f5f5f5;

padding:20px;

}


.box{

background:white;

padding:25px;

border-radius:20px;

max-width:400px;

margin:auto;

box-shadow:
0 8px 20px rgba(
0,
0,
0,
0.08
);

}


input{

width:100%;

padding:14px;

margin-top:12px;

border-radius:10px;

border:
1px solid #ddd;

box-sizing:
border-box;

}


button{

width:100%;

padding:14px;

margin-top:20px;

background:#D4AF37;

color:white;

border:none;

border-radius:10px;

font-weight:bold;

}

</style>

</head>

<body>

<div class="box">

<h2>

Edit Profile

</h2>


<form
method="POST"
action="/edit-profile">


<input

name="address"

placeholder="New Address"

value="{{user['address']}}"

required>



<input

type="password"

name="pin"

placeholder="New PIN"

required>



<button>

Save Changes

</button>


</form>

</div>

</body>
</html>