<h1>Cooking Service</h1><br><br><br>
Effective Date: 8 May 2026<br><br><br>

<p>
    Effective Date: 08May 2026<br><br><br>
Includes cooking + utensils cleaning.<br>
1 meal = 3–4 dishes.<br>
Up to 4 people → ₹300<br>
5–8 people → ₹400<br>
Extra items → extra charges apply.
</p>

<h1>House Cleaning Service</h1>

<p>
Includes sweeping and mopping.<br>
Basic arranging of house.<br>
Utensils cleaning not included (extra charges apply).<br>
Clothes washing not included (extra charges apply).<br>
Price depends on house size.<br>
Extra work will be charged separately.
</p>