<h1>QUICKHELP24 PRIVACY POLICY
</h1>
<p>
Effective Date: 8 May 2026<br><br><br>

QuickHelp values the privacy of its customers and users. This Privacy Policy explains how we collect, use, and protect customer information.<br><br><br>


1. Information We Collect<br>

We may collect:<br>

Name<br>

Phone Number<br>

Address<br>

Booking details<br>

Payment screenshots/details<br>

Messages shared during customer support<br><br><br>


2. How We Use Information<br>

Customer information is used for:<br>

Booking confirmation<br>

Service coordination<br>

Worker assignment<br>

Customer support<br>

Payment verification<br>

Improving QuickHelp services<br><br><br>


3. Data Protection<br>

QuickHelp will take reasonable steps to protect customer information and prevent unauthorized access.<br><br><br>


4. Sharing Information<br>

Customer details may only be shared with assigned workers for service purposes.<br>

QuickHelp will not sell customer data to third parties.<br><br><br>

5. Payments<br>

Customers may make payments through UPI or other accepted payment methods.<br>

QuickHelp is not responsible for payment issues caused by third-party payment platforms.<br><br><br>

6. Website Usage<br>

By using the QuickHelp website, users agree to provide correct booking information.<br>

Fake bookings or misuse of services may result in service refusal.<br><br><br>

7. Changes to Policy<br>

QuickHelp may update this Privacy Policy in the future if required.<br><br><br>

8. Contact<br>

For questions regarding this Privacy Policy:<br>

QuickHelp24<br>

Phone: +91 9980156144 +91 9945783602<br>

Location: Chitradurga<br>

Website: https://quickhelp24.onrender.com</p>

<h2>PP[in short]</h2>
<p>
    QuickHelp24 collects customer details only for booking and service purposes.<br>
    We do not sell customer data. <br>
    By using QuickHelp24, you agree to share correct information<br>
</p>