<!DOCTYPE html>
<html>
<meta
name="viewport"
content="width=device-width, initial-scale=1.0">
<head>

<style>

body{

font-family:Arial;

background:#f8f8f8;

padding:15px;

}


.box{

width:90%;

max-width:400px;

margin:auto;

background:white;

box-shadow:
0 8px 20px rgba(
0,
0,
0,
0.08
);

}


.logout{

display:inline-block;

margin-top:20px;

padding:12px 18px;

background:#dc2626;

color:white;

text-decoration:none;

border-radius:10px;

}

</style>

</head>

<body>

<div class="box">

<h2>

My Profile

</h2>


<p>

<b>Name:</b>

{{user['name']}}

</p>



<p>

<b>Phone:</b>

{{user['phone']}}

</p>



<p>

<b>Address:</b>

{{user['address']}}

</p>





<a

href="/history"

style="
display:block;
padding:14px;
margin-top:15px;
background:#f5f5f5;
text-decoration:none;
color:black;
border-radius:10px;
text-align:center;
">

📦 History

</a>



<a

href="https://wa.me/919980156144"

style="
display:block;
padding:14px;
margin-top:15px;
background:#f5f5f5;
text-decoration:none;
color:black;
border-radius:10px;
text-align:center;
">

💬 Contact Support

</a>

<a

href="/"

style="
display:block;
padding:14px;
margin-top:15px;
background:#f5f5f5;
text-decoration:none;
color:black;
border-radius:10px;
text-align:center;
">

🏠 Home

</a>

<a

href="/edit-profile"

style="
display:block;
padding:14px;
margin-top:15px;
background:#f5f5f5;
text-decoration:none;
color:black;
border-radius:10px;
text-align:center;
">

✏️ Change Address / PIN

</a>

<a
href="/logout"

class="logout">

Logout

</a>

</div>

</body>

</html>