<h1>QUICKHELP24 SERVICE AGREEMENT</h1>
<P>
    

Effective Date: 10 May 2026<br><br><br>

This agreement applies to all customers using QuickHelp24 services.<br><br><br>

1. Services<br>

QuickHelp24 provides local home services including:<br>

House Cleaning<br>

Cooking Help<br>

Party Help<br>

Other services added in future<br><br><br>


2. Booking Process<br>

Customers must provide correct booking information.<br>

Advance payment is required for booking confirmation.<br>

QuickHelp24 will assign available workers for the requested service.<br><br><br>


3. Customer Responsibilities<br>

Customers agree to:<br>

provide correct address and contact details<br>

provide safe working environment<br>

treat workers respectfully<br>

complete remaining payment after service<br><br><br>


4. Worker Responsibilities<br>

Workers are expected to:<br>

arrive on time when possible<br>

behave respectfully<br>

complete assigned work properly<br>


5. Payments<br>

Advance payment confirms booking.<br>

Remaining amount must be paid after service completion.<br>

Payment delays may affect future bookings.<br><br><br>


6. Cancellations<br>

Customers should inform cancellations before worker depart.<br>

Repeated fake bookings or misuse may lead to service refusal.<br><br><br>


7. Limitations<br>

QuickHelp24 is not responsible for:<br>

pre-existing damages<br>

customer misuse of cleaning products<br>

delays caused by emergencies or external conditions<br><br><br>

8. Agreement Acceptance<br>

By booking QuickHelp24 services, the customer agrees to these terms.<br>



QuickHelp24<br>

Phone: +91 9980156144 +91 9945783602<br>

Location: Chitradurga<br>

Website: https://quickhelp24.onrender.com<br>
</P>

<h2>Service Agreement[in short]</h2>

<p>
By booking QuickHelp24 services, customers agree to:<br>
provide correct address,<br>
treat workers respectfully,<br>
and complete payment after service.<br>
</p>